<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Learning Python{% block title %}{% endblock %}</title>
    {% include 'css.html' %}
    <style>
    body {
        padding-bottom: 20px;
    }

    .navbar {
        margin-bottom: 20px;
    }

    input[type=checkbox]:checked+label.strikethrough {
        text-decoration: line-through;
        color: red;
    }
    </style>
</head>

<body>
    {% include 'navbar.html' %} {% block content %} {% endblock %} {% include 'js.html' %}
    </script>
</body>

</html>