<div class="footer">
    <div class="row">
        <div class="col-lg-6">
            <div class="pull-left">HOT AUTHORS</div>
        </div>
        <div class="col-lg-6">
            <div class="pull-left">RESOURCES</div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div><a href="#">Posts</a></div>
                    <div><a href="#">Questions</a></div>
                    <div><a href="#">Videos</a></div>
                    <div><a href="#">Tags</a></div>
                    <div><a href="#">Authors</a></div>
                    <div><a href="#">Help</a></div>
                </div>
                <div class="col-md-6">
                    <div><a href="#">Terms</a></div>
                    <div><a href="#">RSS Feed</a></div>
                    <div><a href="#">Browser Extension</a></div>
                    <div><a href="#">Atom Plugin</a></div>
                    <div><a href="#">Feedback</a></div>
                    <div><a href="#">FAQ</a></div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-4">
            <p class="copyright">
                &copy;2017
                <b class="text-primary">Minh Pham.</b> All rights reserved.
            </p>
        </div>
    </div>
</div>