
<div style="background-color: #0b1a33; color: white; padding-left: 10%; padding-right: 10%; padding-top: 20px;">
    <div class="row">
    	<hr>
        <div class="col-lg-3">Facebook</div>
        <div class="col-lg-3">Hot Authors</div>
        <div class="col-lg-4">Resources</div>
    </div><hr>
    <div class="row sub-footer">
    	<div class="text-center">
    		<p class="copyright">
    			&copy;2017
    			<b class="text-primary">Minh Pham.</b> All rights reserved.
    		</p>
    	</div>
    </div>
</div>