{% load static %}

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<!-- STATIC -->
<script src="{% static 'public/js/popper.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'public/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'public/js/marked.min.js' %}"></script>
<script src="{% static 'public/js/simplede.min.js' %}"></script>
<script src="{% static 'public/js/showdown.min.js' %}"></script>
<script src="{% static 'public/js/jquery-ui.js' %}"></script>
<script src="{% static 'public/js/select2.min.js' %}"></script>
<!-- CUSTOM -->
<script src="{% static 'js/custom-autocomplete-select2.js' %}"></script>
<script src="{% static 'js/simple-markdown-editor.js' %}"></script>
