{% load static %}
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.3/showdown.min.js"></script> -->

<script src="{% static 'public/js/jquery-3.2.1.slim.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'public/js/popper.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'public/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'public/js/marked.min.js' %}"></script>
<script src="{% static 'public/js/simplede.min.js' %}"></script> 
<script src="{% static 'public/js/showdown.min.js' %}"></script> 
<!-- <script src="{% static 'public/js/showdown.min.js.map' %}"></script>  -->
<!-- <script src="{% static 'public/js/popper.min.js.map' %}"></script>  -->
<script>
$(document).ready(function() {
    //jQuery code goes here


    var simplemde = new SimpleMDE({
        // autofocus: true,
        // autosave: {
        //     enabled: true,
        //     uniqueId: "MyUniqueID",
        //     delay: 1000,
        // },
        // blockStyles: {
        //     bold: "__",
        //     italic: "_"
        // },
        element: document.getElementById("post_content"),
        // forceSync: true,
        // hideIcons: ["guide", "heading"],
        // indentWithTabs: false,
        // initialValue: "Hello world!",
        // insertTexts: {
        //     horizontalRule: ["", "\n\n-----\n\n"],
        //     image: ["![](http://", ")"],
        //     link: ["[", "](http://)"],
        //     table: ["", "\n\n| Column 1 | Column 2 | Column 3 |\n| -------- | -------- | -------- |\n| Text     | Text      | Text     |\n\n"],
        // },
        // lineWrapping: false,
        // parsingConfig: {
        //     allowAtxHeaderWithoutSpace: true,
        //     strikethrough: false,
        //     underscoresBreakWords: true,
        // },
        placeholder: "Type here...",
        // previewRender: function(plainText) {
        //     return customMarkdownParser(plainText); // Returns HTML from a custom parser
        // },
        // previewRender: function(plainText, preview) { // Async method
        //     setTimeout(function(){
        //         preview.innerHTML = customMarkdownParser(plainText);
        //     }, 0);

        //     return preview.innerHTML;
        // },
        // promptURLs: true,
        // renderingConfig: {
        //     singleLineBreaks: false,
        //     codeSyntaxHighlighting: true,
        // },
        // shortcuts: {
        //     drawTable: "Cmd-Alt-T"
        // },
        // showIcons: ["code", "table"],
        // spellChecker: false,
        // status: false,
        // status: ["autosave", "lines", "words", "cursor"], // Optional usage
        // status: ["autosave", "lines", "words", "cursor", {
        //     className: "keystrokes",
        //     defaultValue: function(el) {
        //         this.keystrokes = 0;
        //         el.innerHTML = "0 Keystrokes";
        //     },
        //     onUpdate: function(el) {
        //         el.innerHTML = ++this.keystrokes + " Keystrokes";
        //     }
        // }], // Another optional usage, with a custom status bar item that counts keystrokes
        // styleSelectedText: false,
        tabSize: 4,
        toolbar: [{
                name: "custom",
                action: function customFunction(editor) {
                    // Add your own code
                },
                className: "fa fa-star",
                title: "Custom Button",
            },
            "bold", "italic", "strikethrough", "heading", "heading-smaller", "heading-bigger", "heading-1", "heading-2", "heading-3", "|", "quote", "unordered-list", "ordered-list", "clean-block", "link", "image", "table", "horizontal-rule", "|", "preview", "side-by-side", "fullscreen", "guide"
        ],
        toolbarTips: true,
    });
    $("#post_content").removeAttr("required");
    function run() {
        var text = $('#before').text();        
        converter = new showdown.Converter(),
        html = converter.makeHtml(text);
        $('#result').html(html);
        
    }
    run()
});
</script>

