<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <!-- <a class="navbar-brand" href="/">Learning Python</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">{% if request.user.is_authenticated %}{% if request.user.first_name %} {{ user.first_name }} {% else %} {{ request.user.email }}{% endif %}{% else %}Account {% endif %} - Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'posts:list' %}">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                 <!--    <li class="nav-item">
                        {% load i18n %} {% get_current_language as LANGUAGE_CODE %} {% get_available_languages as LANGUAGES %} {% get_language_info_list for LANGUAGES as languages %} {% for language in languages %}
                        <form action="{% url 'set_language' %}" method="post" id="form_{{ language.code }}" style="display:inline!important;">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <input name="language" type="hidden" value="{{ language.code }}" />
                            <button class="btn tranlate-button" type="submit" form="form_{{ language.code }}" value="Submit">{{ language.code }}</button>
                        </form>
                        {% endfor %}
                    </li> -->
                </ul>
                <form class="form-inline my-2 my-md-0">
                    <input class="form-control" type="text" placeholder="Search">
                </form>
                 <a class="btn btn-light" href=""><i class="fa fa-info" aria-hidden="true"></i></a> 
                <a class="btn btn-light" href=""><i class="fa fa-bell-o" aria-hidden="true"></i></a>
                {% if user.is_authenticated %}
                <a class="btn btn-success" href="{% url 'posts:create' %}"><i class="fa fa-pencil" aria-hidden="true"></i></a> {% endif %}
                <div class="nav-item dropdown">
                    <a style="color:#FFF" class="nav-link dropdown-toggle" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="#">Profile</a> {% if request.user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a> {% else %}
                        <a class="dropdown-item" href="{% url 'accounts:register' %}">Register</a>
                        <a class="dropdown-item" href="{% url 'accounts:login' %}">Log In</a> {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</nav>