.title {
    font-size: 25px;
    color: black;
}

.tag {
    background-color: #bccbd4;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 0;
    max-width: 200px;
    font-size: 80%;
    margin-right: 5px;
    padding: 4px 6px;
    border-radius: 5px;
    color: black;
}

.user {
    font-size: 15px;
}

.timestamp {
    font-size: 15px;
    color: gray;
}

.footer {
    padding-top: 20px;
}