{% extends 'base.html' %} {% load tag_count %} {% block title %} | Post List {% endblock %} {% block style %} {% endblock%}{% block content %}
<br>
<div class="row">
    <div class="col-md-8">
        {% for post in post_list %}
        <div class="user">
            <a href="#">{{ user }}</a>&nbsp;<i class="fa fa-link" aria-hidden="true"></i><span class="pull-right timestamp">{{ post.timestamp|timesince }} ago</span>
        </div>
        <div>
            <a class="title" href="{{ post.get_absolute_url }}">{{ post.title}}</a> {% for tag in post.tags.all %}
            <a class="tag" href="{% url 'tags:related' slug=tag.tag %}">#{{ tag.tag }}</a> {% endfor %}
        </div>
        <i class="fa fa-eye" aria-hidden="true"></i>1&nbsp;&nbsp;<i class="fa fa-paperclip" aria-hidden="true"></i>1&nbsp;&nbsp;<i class="fa fa-comments" aria-hidden="true"></i>1<span class="pull-right"><i class="fa fa-caret-up" aria-hidden="true"></i><i class="fa fa-caret-down" aria-hidden="true"></i>&nbsp;1</span>
        <hr> {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if post_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ post_list.previous_page_number }}" tabindex="-1"><</a>
                </li>
                {% endif %}
                
                {% for i in paginator.page_range %} 
                     <li class="page-item {% if i == post_list.number %} active {% endif %}">
                        <a class="page-link" href="?page={{ i }}">{{ i }}<span class="sr-only">(current)</span></a>
                    </li>
                {% endfor %} {% if post_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ post_list.next_page_number }}">></a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="col-md-4">
        <div>HOT AUTHORS</div>
        {% for user in user_list %}
        <div>{{ user }}</div>
        <a href="#">{% endfor %}</a>
        <hr>
        <a href="#"><i class="fa fa-tags" aria-hidden="true"></i> All authors</a>
        <br>
        <br>
        <div>POPULAR TAGS</div>
        {% for tag in tag_list %}
        <a href="{{ tag.get_absolute_url }}" class="tag">{{ tag|tag_count }}<span class="tag-count">{{ tag.post_set.count }}</span></a> {% endfor %}
        <hr>
        <a href="{% url 'tags:list' %}"><i class="fa fa-tags" aria-hidden="true"></i> All tags</a>
    </div>
</div>
{% endblock %}